@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Notification.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new NotifSystem.Default.NotificationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>